pipeline/Load Zenoti Sales API to SQL DB.json
{
	"name": "Load Zenoti Sales API to SQL DB",
	"properties": {
		"activities": [
			{
				"name": "Get Access Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.zenoti.com/v1/tokens",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"account_name": "1847",
						"user_name": "Nawas",
						"password": "Kodathoor@1",
						"grant_type": "password",
						"app_id": "E230CE9C-75BD-4BCA-AA5E-A17CC2D28BC1",
						"app_secret": "e84c02d1cefe4011ba671dd45dd4862abc47fca836ed43db93892a7afeff364e",
						"device_id": "biadmin-azuresynpase-workfolow"
					}
				}
			},
			{
				"name": "Get Centers List",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.zenoti.com/v1/centers",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@variables('var_access_token')",
							"type": "Expression"
						},
						"Accept": "application/json"
					}
				}
			},
			{
				"name": "Loop Each Center Sales Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Centers List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Centers List').output.centers",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Zenoti Sales API to SQL DB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "@variables('var_access_token')",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "src_zenoti_sales_api",
									"type": "DatasetReference",
									"parameters": {
										"center_id": {
											"value": "@item().id",
											"type": "Expression"
										},
										"start_date": "2023-02-26",
										"end_date": "2023-02-26",
										"status": "1",
										"item_type": "7"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "tgt_zenoti_sales_tbl",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set Access Token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Access Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_access_token",
					"value": {
						"value": "@concat('Bearer ',activity('Get Access Token').output.credentials.access_token )",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"var_access_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ZN Integrtion Backup"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-03T04:53:57Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}