pipeline/ZN Sales Integration Main.json
{
	"name": "ZN Sales Integration Main",
	"properties": {
		"activities": [
			{
				"name": "Get Config Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select Tocken_body as body from zn_api_config where Brand in ('1847','Nbar')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sql_Get_Brand_Details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach  Brand",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Config Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Config Details').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Call Pipeline by Brand",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ZN Sales Integration V2",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Brand_Details": {
										"value": "@item().body",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Brand_Details": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-02T13:54:16Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}